
@import url(../css/blocks/base.css);
@import url(../css/blocks/button.css);
@import url(../css/blocks/header.css);
@import url(../css/blocks/hero.css);
@import url(../css/blocks/menu.css);
@import url(../css/blocks/offers.css);
@import url(../css/blocks/workhours.css);
@import url(../css/blocks/footer.css);
@import url(../css/blocks/menu.css);
@import url(../css/blocks/new.css);
@import url(../css/blocks/offers.css);
@import url(../css/blocks/paginator.css);
@import url(../css/blocks/social.css);
@import url(../css/blocks/title.css);
@import url(../css/blocks/about_us.css);
@import url(../css/blocks/header-services.css);
@import url(../css/blocks/services-offers.css);
@import url(../css/blocks/partners.css);
@import url(../css/blocks/people.css);
@import url(../css/blocks/rewiews.css);
@import url(../css/blocks/rewiev.css);
@import url(../css/blocks/controls.css);
@import url(../css/blocks/forms.css);
@import url(../css/blocks/form.css);
