.button {
  border: 1px solid #F5170E;
border-radius: 35px;
padding: 18px 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #F5170E;
}
.button:hover {
  background: #F5170E;
  color: #fff;
}

.button--red {
  background: #F5170E;
  padding: 18px 40px;
  color: #fff;
  
}

.button--forms {
  padding: 18px 40px;
}

.button--dark {
  background: #2B2B2B;
  border: 1px solid #2B2B2B;
  color: #fff;
}

.button--dark:hover {
background: #8E8E8E;
border: 1px solid #8E8E8E;
}

.button--forms {
  margin-right: 13px;
}

.button--forms:last-child {
margin-right: 0px;
}