.footer {
  padding: 51px 0px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content--index:before {
  content: "";
  width: 100%;
  display: block;
  border-top: 1px solid #fff;
  opacity: 1;
  position: absolute;
  top:0;
  left: 0;
}
.footer-left {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.footer-right {
  display: flex;
  justify-content:space-between;
 align-items:center;
}
.contacts__text {
  font-weight: normal;
font-size: 11px;
margin-bottom: 4px;
}