.form {
  font-size: 18px;
  height: 65px;
  flex: 1;
  margin-right: 28px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 20px 30px;
}
.form:last-child {
  margin-right: 0px;
}

.form__tags {
  display: flex;
  align-items: flex-start;
  padding-bottom: 12px;
}