.header {
  margin-top: 27px;
  width: 100%;
  height: 120px;
margin-bottom: 110px;


  }
 
 .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.logo {
  display: block;
  margin-right: 79px;
}

