.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:62px;
}
.paginator__list {
  display: flex;
}
.paginator__display {
  margin-right: 25px; 
}
.paginator__item {
  text-align: center;
}
.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.paginator__item--active .paginator__link {
  background-color: #fff;
  color:#F5170E;
}

.paginator__link:hover {
  background-color: #fff;
  color:#F5170E;
}

.paginator--services {
  color: #000000;
}

.paginator__item--active--red .paginator__link {
  color: #fff;
  background-color:#F5170E;
}