.rewiev {
  display: flex;
  flex-direction: column;
  background: #F4F5F5;
border-radius: 5px;
padding: 45px 30px;
/* max-width: 557px; */
width: calc(100%/2 - 15px);
margin-bottom: 17px;


}
.rewiev__right {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.rewiev__button {
  background: #B9EAE4;
border-radius: 35px;
padding: 9px 10px;
}
.rewiev__header {
  display: flex;

  align-items: center;
  margin-bottom: 27px;
}
.rewiev__link {
  font-weight: bold;
font-size: 24px;
text-decoration: none;
margin-bottom: 13px;

}
.rewiev__link:after{
content: url(../../img/rewievs/vk-blue\ 1.png);
height: 30px;
margin-left: 7px;
margin-top: 10px;
}
.rewiev__link:hover {
  color: #2E77A4;
  text-decoration: underline;
}
.rewiev__title {
  font-weight: bold;
font-size: 30px;
margin-bottom: 13px;
}

.rewiev__text {
  color: #818181;
  margin-bottom: 45px;
}

.rewiev__date {
  font-weight: 600;
font-size: 14px;
}


